.alert {
  padding: 2em;
  color: red;
  border: 0.5em solid red;
  margin-top: 1em;
  font-family: Bungee;
  font-size: larger;
  text-align: center;
  width: 100%;
}

/* breakpoint*/
@media only screen and (min-width: 1024px) {
  .alert {
    width: 60%;
    float: right;
    margin-top: 0;
    margin-bottom: 1.5em;
  }
}
