header {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: #ed8515;
  background-image: url('https://www.transparenttextures.com/patterns/escheresque.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.center {
  display: grid;
  place-items: center;
}
.center h2 {
  text-shadow: 0 0 1em #000;
  font-weight: lighter;
}
/* breakpoint*/
@media only screen and (min-width: 1024px) {
  .weirdFlex {
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }
  header {
    flex: 0;
  }
  .tweets {
    flex: 1;
  }
}
